<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="App_Screen.Properties.Settings.Connection1" connectionString="server=Server_name_1; database=Database_name_1;uid=userid;password=password" />
        <add name="App_Screen.Properties.Settings.ConnectionString2"
            connectionString="server=Server_name_1;database=Database1;uid=userid;password=password" />
        <add name="ConnectionString2" connectionString="server=Server_name_2;database=Database_name_2;uid=userid;password=password" />
        <add name="App_Screen.Properties.Settings.Connection1" connectionString="server=Server_name_1; database=Database_Name_1;uid=userid;password=password" />
        <add name="App_Screen.Properties.Settings.ConnectionString2"
            connectionString="server=Server_name_2; database=Database_Name_2;uid=userid;password=password" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
</configuration>